.searchBar {
    margin: 10px;
  }

div {
    display:block;
}
.searchGrid {
    display:grid;   
    margin-top:20px;    
    grid-template-columns: 10% auto 10%;
    column-gap: 20px;
    background-color:rgb(9, 44, 63);
    width: 100%;
}
.searchGridLeft {
    width: auto;
}
.searchGridMiddle {
    width: auto;
}
.searchGridRight {
    width: auto;
}

.searchList {
    background-color: grey;
    color:aliceblue;
    padding-top:21px;
    padding-bottom:21px;
}
.listHeader {
    display:grid;
    grid-template-columns: 18% 46% 12% 12% 12%;
    align-items: center;
    font-size:1.2rem;
    width: 100%;
}
.coverImage {
    box-sizing: border-box;
}
.title {
    text-align: left;
}
.ratings {
}
.type {
}
.status {
}
.searchEntries {
    color:aliceblue;    
    margin: 0px;
}
.entryRow {
    background-color: rgb(2, 62, 62);
    display:grid;
    grid-template-columns: 18% 46% 12% 12% 12%;
    align-items: center;
}
.entryRow:hover {
    background-color: rgb(6, 113, 113);
}
.rowCoverImage {
    align-items: center;
    width: 100px;
    height: 155px;
    margin: 10px;
    /* background-image: url(https://s4.anilist.co/file/anilistcdn/media/manga/cover/large/nx87395-KilGMYyoFULt.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.rowTitle {
    display: flex;
    align-items: center;
}
.rowTitle a {
    display: flex;
    text-align: left;
    text-decoration: none;
    color: red;
    font-size: 25px;
    word-break: break-word;
}
.rowRatings {
}
.rowType {
}
.rowStatus {
}
