.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin-top:-16px;
  padding: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_list {
  display:flex;
  justify-content: space-between;
}

.navlogo{
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  background-color:blue;
  align-items: center;
}
.navlogo:hover {
  background-color: rgb(52, 52, 52);
}
.navflex {
  display:flex;
}
.nav_list {
  background-color: grey;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: -32px;
  padding-right:10px;
}
li {
  display:inline-block;
  padding: 5px;
}
.navflex {
  padding: 0px;
}
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  padding: 5px;
}
.flex-nav:hover {
  background-color: rgb(52, 52, 52);
}
label {
  padding:110px;
}
input {
  padding:2px;
  margin-left:45px;
  margin-right:5px;
}
.add-button {
  margin-left: 10px;
}

.MangaList {
  display: block;
}
.list-manga {
  /* display: flex-inline; */
  justify-content: space-between;
}
.list-title {
  /* display:flex; */
  justify-content: space-between;
  align-items:center;
}
.list-score {
  /* display:flex; */
  justify-content: space-between;
  align-items:center;
}
